body {
    font-family: Arial;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0%;
}

#topbar {
    min-width: 1000px;
    position: fixed;
    top: 10px;
}

#topbar-label {
    float: left;
    background-color: rgba(50, 80, 100, 0.5);
    width: 400px;
    height: 90px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#topbar-label-text {
    color: white;
    font-size: 20px;
    height: 90px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.topbar-item {
    float: left;
    background-color: rgba(50, 80, 100, 0.5);
    width: 90px;
    height: 90px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 2px;
    transition: 0.5s;
}

.topbar-item-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar-item-icon {
    width: 30px;
    margin: 30px 30px;
    pointer-events: none;
}

.topbar-item:hover {
    margin-top: 20px;
}

.section {
    overflow: hidden;
    min-width: 625px;
    background-color: rgba(130, 180, 220, 0.5);
    padding: 30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 25%;
    margin-top: 120px;
}

.section-title {
    color: white;
}

#overview-text {
    float: left;
    color:white;
    font-size: 20px;
    width: calc(100% - 230px);
}

#my-picture {
    float: right;
    width: 200px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    pointer-events: none;
}
